<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Usuario</title>
</head>
<body>
    <form action="/actualizar/{{cliente[0]}}" method="post">
    <input type="text" name="dni" id="dni" value="{{cliente[0]}}">
     <input type="text" name="usuario" id="usuario" value="{{cliente[1]}}">
     <input type="text" name="password" id="password" value="{{cliente[2]}}">
     <input type="submit" value="Actualizar">

    </form>
</body>
</html>